@import "./src/styles/variables";

.button {
  font-family: "Noto Sans JP", sans-serif;
  background: $white;
  color: $black;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  border: 1px solid $grey;
  transition: background-color 0.2s;
  cursor: pointer;
  font-size: 0.86rem;
  text-decoration: none;
  outline: none !important;

  &:hover {
    background: $light;
  }
}
