<template>
  <div class="dashboard-page">
    <div v-if="!recentAlignedValues.length">
      <h3>Welcome, {{ user.displayName }}</h3>
      <p>
        Core values are a set of fundamental beliefs of a person. They make up
        our inner compass and inform us how to conduct our lives, both
        personally and professionally. There are many different examples of core
        values in the world, and everyone has their our unique list.
      </p>
      <p>
        Aligned was made to help you discover your core values and live in line
        with them. Doing so can help us live a meaningful life filled with a
        sense of purpose and direction.
      </p>
      <p>
        Discover yours form a clear idea of what actions you can take to
        experience life in true alignment.
      </p>
      <router-link
        class="button"
        :to="coreValues.length ? 'align' : 'discover'"
      >
        Let's begin
      </router-link>
    </div>
    <div v-else>
      <div class="header">
        <h3>Alignment</h3>
        <div class="button-container">
          <BaseButton
            class="tiny"
            :class="{ active: activeTab === 0 }"
            @click="setActiveTab(0)"
          >
            Over time
          </BaseButton>
          <BaseButton
            class="tiny"
            :class="{ active: activeTab === 1 }"
            @click="setActiveTab(1)"
          >
            Latest
          </BaseButton>
        </div>
      </div>

      <AlignedValueList v-if="activeTab === 0" :values="averageAlignedValues" />
      <AlignedValueList v-if="activeTab === 1" :values="recentAlignedValues" />

      <div class="align-button-container">
        <router-link class="button" to="align"
          >Check in with your alignments now</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ValuesModuleActions, ValuesModuleGetters } from "@/store/ValuesModule";
import { AuthenticationModuleGetters } from "@/store/AuthenticationModule";
import AlignedValueList from "@/components/AlignedValueList";
import BaseButton from "@/components/BaseButton";

export default {
  components: { AlignedValueList, BaseButton },
  name: "Dashboard",
  data: () => ({
    activeTab: 0,
  }),
  mounted() {
    this.fetchCoreValues(this.user.uid);
    this.fetchAlignmentTrend(this.user.uid);
  },
  computed: {
    ...mapGetters({
      user: AuthenticationModuleGetters.User,
      coreValues: ValuesModuleGetters.CoreUserValues,
      recentAlignedValues: ValuesModuleGetters.RecentAlignment,
      averageAlignedValues: ValuesModuleGetters.AverageAlignment,
    }),
  },
  methods: {
    setActiveTab(tabIndex) {
      this.activeTab = tabIndex;
    },
    ...mapActions({
      fetchAlignmentTrend: ValuesModuleActions.FetchAlignmentTrend,
      fetchCoreValues: ValuesModuleActions.FetchCoreValues,
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "./src/styles/variables";

.dashboard-page {
  padding: $page-gutter;
}

.button-container {
  button {
    &:first-child {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-button-container {
  text-align: center;
  margin-top: 2rem;
}
</style>
