<template>
  <div class="align-page">
    <h2>Alignment</h2>
    <h3>How aligned are you?</h3>

    <ValueCard
      v-if="currentValueCard"
      :title="currentValueCard.title"
      :description="currentValueCard.description"
    />

    <div class="button-wrapper">
      <BaseButton
        :class="{
          active: currentValueCard && currentValueCard.alignment === 3,
        }"
        @click="setAlignment(currentValueCard, 3)"
      >
        Very Aligned
      </BaseButton>

      <BaseButton
        :class="{
          active: currentValueCard && currentValueCard.alignment === 2,
        }"
        @click="setAlignment(currentValueCard, 2)"
      >
        Somewhat Aligned
      </BaseButton>

      <BaseButton
        :class="{
          active: currentValueCard && currentValueCard.alignment === 1,
        }"
        @click="setAlignment(currentValueCard, 1)"
      >
        Not Aligned
      </BaseButton>
    </div>

    <Paginator
      :index="currentIndex"
      :itemCount="valuesCards.length"
      @change="handlePaginationChange($event)"
    />
  </div>
</template>

<script>
import { ValuesModuleActions, ValuesModuleGetters } from "@/store/ValuesModule";
import { mapActions, mapGetters } from "vuex";
import { AuthenticationModuleGetters } from "@/store/AuthenticationModule";
import { RouteName } from "@/router";
import ValueCard from "@/components/ValueCard";
import BaseButton from "@/components/BaseButton";
import Paginator from "@/components/Paginator";

export default {
  name: "Align",
  components: { ValueCard, Paginator, BaseButton },
  data: () => ({
    currentIndex: 0,
    valuesCards: [],
  }),
  computed: {
    currentValueCard() {
      return this.valuesCards[this.currentIndex];
    },
    ...mapGetters({
      user: AuthenticationModuleGetters.User,
      coreUserValues: ValuesModuleGetters.CoreUserValues,
    }),
  },
  mounted() {
    this.fetchCoreValues(this.user.uid).then((values) => {
      this.valuesCards = [...values]
        .filter((value) => value.importance === 3)
        .sort(() => Math.random() - 0.5);
    });
  },
  methods: {
    handlePaginationChange(index) {
      if (index > this.currentIndex && !this.currentValueCard.alignment) {
        return;
      }
      this.currentIndex = index;
    },
    setAlignment(value, alignment) {
      this.valuesCards = this.valuesCards.map((valueItem) => {
        return valueItem.title === value.title
          ? { ...value, alignment }
          : valueItem;
      });

      if (this.currentIndex < this.valuesCards.length - 1) {
        this.currentIndex = this.currentIndex + 1;
      } else {
        this.saveUserValues({
          uid: this.user.uid,
          values: this.valuesCards,
          collection: "alignedValues",
        }).then(() => {
          this.$router.replace(RouteName.Dashboard);
        });
      }
    },
    ...mapActions({
      saveUserValues: ValuesModuleActions.SaveUserValues,
      fetchCoreValues: ValuesModuleActions.FetchCoreValues,
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "./src/styles/variables";

.align-page {
  padding: $page-gutter;
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  button {
    margin: 0.5rem 0;
  }
}

.paginator {
  margin-top: 1rem;
}
</style>
