<template>
  <div class="core-values-page">
    <h3>Core Values</h3>

    <div v-if="!coreValues.length">
      <p>
        First, we need to know what are your core values. Let's do a little quiz
        and figure them out!
      </p>
      <router-link class="button" to="discover">Let's begin</router-link>
    </div>

    <div v-else>
      <h4>Most important</h4>
      <AlignedValueList :values="veryImportantValues" />

      <h4>Important</h4>
      <AlignedValueList :values="littleImportantValues" />

      <h4>Not important</h4>
      <AlignedValueList :values="notImportantValues" />

      <div class="discover-button-container">
        <router-link to="/discover" class="button">
          Check in with your core values
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ValuesModuleActions, ValuesModuleGetters } from "@/store/ValuesModule";
import { AuthenticationModuleGetters } from "@/store/AuthenticationModule";
import AlignedValueList from "@/components/AlignedValueList";

export default {
  name: "CoreValuesPage",
  components: { AlignedValueList },
  mounted() {
    console.log(this.user.uid);
    this.fetchUserValues(this.user.uid);
    this.fetchCoreValues(this.user.uid);
  },
  computed: {
    ...mapGetters({
      user: AuthenticationModuleGetters.User,
      coreValues: ValuesModuleGetters.CoreUserValues,
    }),
    veryImportantValues() {
      return this.coreValues.filter((value) => value.importance === 3) ?? [];
    },
    littleImportantValues() {
      return this.coreValues.filter((value) => value.importance === 2) ?? [];
    },
    notImportantValues() {
      return this.coreValues.filter((value) => value.importance === 1) ?? [];
    },
  },
  methods: {
    ...mapActions({
      fetchUserValues: ValuesModuleActions.FetchUserValues,
      fetchCoreValues: ValuesModuleActions.FetchCoreValues,
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "./src/styles/variables";

.core-values-page {
  padding: $page-gutter;

  h4 {
    margin-bottom: 0.4rem;
  }

  .discover-button-container {
    text-align: center;
    margin: 2rem auto;
  }
}
</style>
