<template>
  <div class="discover-page">
    <h2>Core values</h2>
    <h3>How important is this value?</h3>

    <ValueCard
      v-if="currentValueCard"
      :title="currentValueCard.title"
      :description="currentValueCard.description"
    />

    <div class="button-wrapper">
      <BaseButton
        :class="{
          active: currentValueCard && currentValueCard.importance === 3,
        }"
        @click="setImportance(currentValueCard, 3)"
      >
        Very important
      </BaseButton>

      <BaseButton
        :class="{
          active: currentValueCard && currentValueCard.importance === 2,
        }"
        @click="setImportance(currentValueCard, 2)"
      >
        Somewhat important
      </BaseButton>

      <BaseButton
        :class="{
          active: currentValueCard && currentValueCard.importance === 1,
        }"
        @click="setImportance(currentValueCard, 1)"
      >
        Not that important
      </BaseButton>
    </div>

    <Paginator
      :index="currentIndex"
      :itemCount="valuesCards.length"
      @change="handlePaginationChange($event)"
    />
  </div>
</template>

<script>
import values from "@/data/core-values";
import { ValuesModuleActions } from "@/store/ValuesModule";
import { mapActions, mapGetters } from "vuex";
import { AuthenticationModuleGetters } from "@/store/AuthenticationModule";
import { RouteName } from "@/router";
import ValueCard from "@/components/ValueCard";
import Paginator from "@/components/Paginator";
import BaseButton from "../components/BaseButton.vue";

export default {
  name: "Discover",
  components: { ValueCard, Paginator, BaseButton },
  data: () => ({
    currentIndex: 0,
    valuesCards: [],
  }),
  computed: {
    currentValueCard() {
      return this.valuesCards[this.currentIndex];
    },
    ...mapGetters({
      user: AuthenticationModuleGetters.User,
    }),
  },
  mounted() {
    this.valuesCards = [...values].sort(() => Math.random() - 0.5);
  },
  methods: {
    handlePaginationChange(index) {
      if (index > this.currentIndex && !this.currentValueCard.importance) {
        return;
      }
      this.currentIndex = index;
    },
    setImportance(value, importance) {
      this.valuesCards = this.valuesCards.map((valueItem) => {
        return valueItem.title === value.title
          ? { ...value, importance }
          : valueItem;
      });

      if (this.currentIndex < this.valuesCards.length - 1) {
        this.currentIndex = this.currentIndex + 1;
      } else {
        this.saveUserValues({
          uid: this.user.uid,
          values: this.valuesCards,
          collection: "coreValues",
        }).then(() => {
          this.$router.replace(RouteName.Align);
        });
      }
    },
    ...mapActions({
      saveUserValues: ValuesModuleActions.SaveUserValues,
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "./src/styles/variables";

.discover-page {
  padding: $page-gutter;
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  button {
    margin: 0.5rem 0;
  }
}

.paginator {
  margin-top: 1rem;
}
</style>
