<template>
  <div class="login-page">
    <div class="logo">
      <img class="image" src="@/assets/aligned.svg" alt="aligned logo" />
      <span class="label">aligned</span>
    </div>

    <p class="intro">
      Align with your core values<br />
      and practice a life of purpose
    </p>
    <button @click="loginWithGoogle()" class="button">Login with Google</button>
  </div>
</template>

<script>
import { AuthenticationModuleActions } from "@/store/AuthenticationModule";
import { mapActions } from "vuex";

export default {
  name: "Login",
  methods: {
    ...mapActions({
      loginWithGoogle: AuthenticationModuleActions.LoginWithGoogle,
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "./src/styles/variables";

.login-page {
  padding: $page-gutter;
  text-align: center;
}

.logo {
  margin-top: 6rem;

  .image {
    width: 6rem;
    opacity: 0.5;
  }

  .label {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
    top: -0.4rem;
    letter-spacing: 0.1rem;
  }
}

.intro {
  margin-top: 6rem;
}

.button {
  margin-top: 1rem;
}
</style>
