<template>
  <div class="profile-page">
    <div v-if="user">
      <h2>{{ user.displayName }}</h2>
      <p>{{ user.email }}</p>
    </div>
    <button class="button" @click="logoutUser()">Log out</button>
  </div>
</template>

<script>
import {
  AuthenticationModuleActions,
  AuthenticationModuleGetters,
} from "@/store/AuthenticationModule";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Profile",
  computed: {
    ...mapGetters({
      user: AuthenticationModuleGetters.User,
    }),
  },
  methods: {
    ...mapActions({
      logoutUser: AuthenticationModuleActions.logoutUser,
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "./src/styles/variables";

.profile-page {
  padding: $page-gutter;

  h2 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}
</style>
