<template>
  <ul>
    <li v-for="userValue in values" :key="userValue.title">
      <ValuePill :value="userValue" />
    </li>
  </ul>
</template>

<script>
import ValuePill from "@/components/ValuePill";

export default {
  name: "AlignedValueList",
  props: ["values"],
  components: { ValuePill },
};
</script>

<style lang="scss" scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  flex: 1;
  margin: 0 2px 2px 0;
}
</style>
