<template>
  <footer class="app-footer">
    <router-link to="dashboard" class="app-footer__button">
      <img class="app-footer__button-icon" src="@/assets/dashboard.svg" />
      <span class="app-footer__button-label">Alignment</span>
    </router-link>

    <router-link to="core-values" class="app-footer__button">
      <img class="app-footer__button-icon" src="@/assets/discover.svg" />
      <span class="app-footer__button-label">Core Values</span>
    </router-link>

    <router-link to="profile" class="app-footer__button">
      <img class="app-footer__button-icon" src="@/assets/account.svg" />
      <span class="app-footer__button-label">Account</span>
    </router-link>
  </footer>
</template>

<script>
export default {
  name: "AppFooter",
};
</script>

<style lang="scss" scoped>
@import "./src/styles/variables";

.app-footer {
  display: flex;
  height: 4rem;
  width: 100vw;
  background: $white;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  border-top: 1px solid $light;

  &__button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
  }

  &__button-icon {
    width: 1.8rem;
    transition: opacity 0.2s;
  }

  &__button-label {
    font-size: 0.68rem;
    margin-top: 0.1rem;
    color: $grey;
    transition: opacity 0.2s;
  }

  .router-link-active {
    background: $highlight;
    border-right: 1px solid $light;
    border-left: 1px solid $light;
  }
}
</style>
