<template>
  <button>
    <slot />
  </button>
</template>

<script>
export default {
  name: "BaseButton",
};
</script>

<style lang="scss" scoped>
@import "./src/styles/variables";

button {
  font-family: "Noto Sans JP", sans-serif;
  background: $white;
  color: $black;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  border: 1px solid $grey;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  font-size: 0.86rem;
  text-decoration: none;
  outline: none !important;

  &:hover {
    background: $light;
    color: $black;
  }

  &.active {
    background: $black;
    color: $white;
  }

  &.tiny {
    padding: 0.1rem 0.8rem;
    font-size: 0.68rem;
  }
}
</style>
