<template>
  <div class="paginator">
    <BaseButton
      class="tiny"
      @click="previousHandler()"
      :disabled="currentIndex === 0"
    >
      <img
        class="icon-arrow icon-arrow--previous"
        src="@/assets/chevron.svg"
        alt="next arrow"
      />
    </BaseButton>

    <span class="pagination-indicator">
      {{ currentIndex + 1 }} / {{ itemCount }}
    </span>

    <BaseButton
      class="tiny"
      @click="nextHandler()"
      :disabled="currentIndex === itemCount - 1"
    >
      <img
        class="icon-arrow"
        src="@/assets/chevron.svg"
        alt="previous arrow"
      />
    </BaseButton>
  </div>
</template>

<script>
import BaseButton from "@/components/BaseButton";

export default {
  name: "Paginator",
  components: {
    BaseButton,
  },
  props: {
    index: {
      type: Number,
      default: 0,
    },
    itemCount: {
      type: Number,
      default: 0,
    },
  },
  data: function () {
    return {
      currentIndex: this.index,
      isDisabled: false,
    };
  },
  updated() {
    this.currentIndex = this.index;
  },
  methods: {
    previousHandler() {
      if (this.currentIndex !== 0) {
        this.currentIndex = this.currentIndex - 1;
        this.$emit("change", this.currentIndex);
      }
    },
    nextHandler() {
      if (this.currentIndex !== this.itemCount - 1) {
        this.currentIndex = this.currentIndex + 1;
        this.$emit("change", this.currentIndex);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./src/styles/variables";

.icon-arrow {
  width: 0.6rem;

  &--previous {
    transform: rotate(180deg);
  }
}

.pagination-indicator {
  display: inline-block;
  margin: 0 0.4rem;
  font-size: 0.8rem;
}
</style>
