<template>
  <div class="value-card">
    <span class="title">{{ title }}</span>
    <span class="description">{{ description }}</span>
  </div>
</template>

<script>
export default {
  name: "ValueCard",
  props: ["title", "description"],
};
</script>

<style lang="scss" scoped>
.value-card {
  padding: 2rem 2rem;
  border-radius: 0.6rem;
  background: #eee;
  margin: 2rem 0;
  text-align: center;
  height: 6rem;
}

.title {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}
</style>
