<template>
  <div
    class="value-pill"
    :style="{ background: backgroundColor(value.alignment) }"
  >
    <span class="label">
      {{ value.title }}
    </span>
  </div>
</template>

<script>
import { ColourMixerService } from "@/services/ColourMixer.service";

export default {
  name: "ValuePill",
  props: {
    value: {
      type: Object,
      required: true,
    },
  },
  methods: {
    backgroundColor(alignment) {
      if (!alignment) {
        return "#eeeeee";
      }

      const topAlignment = "a8e6cf";
      const midAlignment = "dcedc1";
      const lowAlignment = "ffd3b6";

      if (alignment <= 0.5) {
        return ColourMixerService.mix(
          lowAlignment,
          midAlignment,
          alignment * 2 * 100
        );
      } else {
        return ColourMixerService.mix(
          midAlignment,
          topAlignment,
          (alignment - 0.5) * 2 * 100
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.value-pill {
  padding: 0.6rem 0.8rem;
  display: flex;
  justify-content: center;

  .label {
    white-space: nowrap;
  }
}
</style>
