<template>
  <div v-if="initialised" class="app">
    <main class="app__main">
      <router-view />
    </main>
    <AppBottomNavBar v-if="user" class="app__footer" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import { FirebaseService } from "@/services/Firebase.service";
import {
  AuthenticationModuleActions,
  AuthenticationModuleGetters,
} from "@/store/AuthenticationModule";
import { RouteName } from "@/router";
import AppBottomNavBar from "@/components/AppBottomNavBar";

export default {
  name: "App",
  components: { AppBottomNavBar },
  data: () => ({
    initialised: false,
  }),
  mounted() {
    FirebaseService.onAuthenticationChange((user) => {
      if (!this.initialised) {
        this.initialised = true;
        this.setUser(user);
      }
      const redirectRoute = user ? RouteName.Dashboard : RouteName.Login;
      this.$router.replace(redirectRoute);
    });
  },
  computed: {
    ...mapGetters({
      user: AuthenticationModuleGetters.User,
    }),
  },
  methods: {
    ...mapActions({
      setUser: AuthenticationModuleActions.setUser,
    }),
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");
@import "./src/styles/buttons";
@import "./src/styles/variables";

html,
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
  background: $white;
  color: $black;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;

  &__main {
    position: absolute;
    top: 0;
    bottom: $footerHeight;
    width: 100vw;
    overflow: auto;
    padding: 0 0.6rem;
    box-sizing: border-box;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $footerHeight;
  }
}
</style>
